<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mn.mybatis.xml.DemoUserMapper">
    <resultMap type="org.mn.mybatis.xml.DemoUser" id="UserResult">
        <id     property="id"     column="id"     />
        <result property="userCode"   column="user_code"   />
        <result property="userName"  column="user_name"   />
        <result property="age"   column="age"   />
    </resultMap>
    <select id="selectList" resultMap="UserResult">
        select d.id, d.user_code, d.user_name, d.age
        from demo_user d
    </select>
</mapper>
